.notif {
    text-decoration: none;
    margin: 0.3rem;
}
.notif button {
    cursor: pointer;
    color: #ffffff;
    background: transparent;
    padding: 0.7rem;
    font: inherit;
    position: relative;
    display: inline-block;
}
.notif button:focus {
    outline: none;
}
.notif button:hover,
.notif button:active {
    background: #ff0055;
    border: 1px solid #ff0055;
}
.friendList {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}
.notification .badge {
    position: absolute;
    top: -5px;
    right: -4px;
    padding: 2px 8px;
    border-radius: 50%;
    background: white;
    color: red;
}
