ul.pagination {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
li.page-item {
  display: inline-block;
  padding: 10px 5px;
}

button.page-number {
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 5px;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  cursor: pointer;
}
button.page-number:focus {
  outline: none;
}
button.page-number.active {
  background: rgba(0, 0, 0, 7);
}
