.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #292929;
}

.user-item__content {
  padding: 0;
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900;
}

.user-item a:hover,
.user-item a:active,
.user-item a:hover h2,
.user-item a:active h2,
.user-item a:hover h3,
.user-item a:active h3 {
  color: #292929;
  background: #ffd900;
}

.user-item__info h3 {
  margin: 0;
}
.user-item__addfriend {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: #585858;
}

.user-item__addfriend p {
  margin: 0.4rem;
  font-size: 1.3rem;
  font-weight: normal;
}
.user-item__addfriend button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
}
.user-item__addfriend button:focus {
  outline: none;
}
.button--danger {
  background: #f34343;
  border-color: #f34343;
}

.button--danger:hover,
.button--danger:active {
  background: #830000;
  border-color: #830000;
}
.button--turquoise {
  background: #006f83;
  border-color: #006f83;
}

.button--turquoise:hover,
.button--turquoise:active {
  background: #438ff3;
  border-color: #438ff3;
}
