.userPlaces-container{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}


.switchView{
	position: fixed;
	width: 18rem;
	left: 0;
	top: 4rem;
	display: flex;
	flex-direction: column;
}



.toBucketList {
	display: block;
}

.toBucketListMobile{
	display: none;
}

.toPlaceList {
	display: block;
}

.toPlaceListMobile{
	display: none;
}

@media (max-width: 768px) {
	.switchView{
		position: relative;
		width: 100%;
		left: 0;
		top: -1rem;
		display: flex;
		flex-direction: column;
	}
	.toBucketList {
		display: none;
	}

	.toBucketListMobile {
		display: block;
	}
	.toPlaceList {
		display: none;
	}
	
	.toPlaceListMobile{
		display: block;
	}
}
